.container{
    background: blue;
    height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}
.parent{
    background: black;
    color: white;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    animation: mymove 3s infinite reverse;
    
    
}
.ball{
    background: radial-gradient(white, red);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: circle 3s infinite ease-in-out;
 
}
/* how  to animate */
@keyframes circle {
    0%{
        top: 50px;
        left: 50px;
        border-radius: 50%;
    }
    25%{
        top: 50px;
        left:70vw;
        border-radius: 50% 0 50% 50%;
    }
    50%{
        top: 70vh;
        left: 70vw;
        border-radius: 50% 50 0% 50%;
    }
    75%{
        top: 70vh;
        left: 50px;
        border-radius: 50% 50% 50% 0;
    }
    100%{
        top: 50px;
        left: 50px;
        background: purple;
    }

    
}
@keyframes mymove {
   
    0%{
        transform: rotate(0);
    }
    
    100%{
        transform: rotate(360deg);
    }
    
}
